*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body {
    line-height: 1
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none
}


del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,select {
    vertical-align: middle
}

li {
    list-style: none
}


/*CSS General*/

@font-face {
    font-family: "Lemon/Milk";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/LemonMilk.woff") format("woff"), url("/fonts/LemonMilk.ttf") format("truetype");
}

* {
    font-family: "Lemon/Milk";
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

img {
    background-color: #3b5998;
    border: 2px solid #7C7C7C;
}

#box {
    height: 21vw;
    width: 90vw;
    background-color: #3b5998;
    border: 2px solid #7C7C7C;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

/*Scroll*/

::-webkit-scrollbar {
    width: 5px;
    background-color: #b2b2b2;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #5d676c;
}

#main {
    height: 78vw;
    width: 40vw;
    background-color: aliceblue;
    border: 2px solid #81A2DC;
    position: absolute;
    top: 75vh;
    left: 70%;
    transform: translate(-50%, -70%);
    z-index: 99;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

#login, #signup {
    position: absolute;
    top: 30vh;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: aliceblue;
}

#signup {
    top: 38vh;
    left: 75%;
    visibility: hidden;
}

h1 {
    background-color: aliceblue;
    margin-bottom: 10px;
    margin-top: 10px;
}

#login h1,#signup h1 {
    font-size: 25px;
}

#loginform,#FormRegistro {
    background-color: aliceblue;
}
#FormRegistro{
    padding: 10px 20px;
}

#login button,#signup button {
    height: 3vw;
    width: 10vw;
    background-color: #ff5c5c;
    font-size: 1vw;
    color: white;
    border: none;
    outline: none;
    margin-top: 30px;
    transition: all .5s;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

#login button:hover,
#signup button:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid #ff5c5c;
    color: #ff5c5c;
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

#login_btn, #signup_btn {
    height: 3vw;
    width: 10vw;
    background-color: transparent;
    color: white;
    border: 1px solid #f7f7f7;
    outline: none;
    position: absolute;
    left: 75%;
    top: 58%;
    transform: translate(-50%, -50%);
    transition: all .5s;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

#signup_btn {
    left: 25%;
}

#login_btn:hover,
#signup_btn:hover {
    background-color: white;
    color: #7C7C7C;
    cursor: pointer;
    border: 1px solid #7C7C7C;
}

#login_msg, #signup_msg {
    color: white;
    font-size: 1.5vw;
    position: absolute;
    top: 35%;
    left: 76.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #3b5998;
    width: 24vw;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

#signup_msg {
    left: 26.5%;
}

.radio h4 {
    margin-bottom: 10px;
    font-size: 18px;
    background-color: aliceblue;
}

input[type=radio] {
    display: none;
}

.radio label {
    cursor: pointer;
    padding: 10px 5px 10px 30px;
    display: inline-block;
    position: relative;
    font-size: 14px;
}

.radio label:hover {
    background-color: rgba(0,120,198, .4);
    -webkit-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
}

.radio label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 2px;
    top: 9px;
    border-radius: 50px;
    background: none;
    border: 2px solid #303F9F;
}

input[type=radio]:checked + label:before {
    display: none;
}

input[type=radio]:checked + label {
    padding: 10px 15px;
    background-color: rgb(0,120,198);
    color: white;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
}

#Logo {
    width: 450px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 72%;
    transform: translate(-50%, -50%);
}

#Logo table {
    width: 25vw;
    border: none;
    color: snow;
}

#Logo th {
    font-size: 32px;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

#Logo td {
    color: snow;
    border: 3px solid #3b5998;
    padding: 7px 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    background-color: rgba(132,132,132,.5);
}

p {
    margin-bottom: 10px;
}

::placeholder {
    color: black;
}


/*CSS 3D*/

.project {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.project__image {
    display: block;
    position: relative;
}

.project__image img {
    width: 22vw;
    height: 10vw;
    max-width: 100%;
    display: block;
}

.project__image:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
    transition: opacity .3s ease;
    opacity: 0;
}

.project__card {
    position: relative;
    will-change: transform;
    transition: box-shadow .3s ease;
    box-shadow: 0 10px 30px transparent;
}

.project__card.hover-in {
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.project__card.hover-out {
    transition: -webkit-transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}

.project:hover .project__card {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.project:hover .project__image:after {
    opacity: 1;
}

.project:hover .project__detail {
    border-width: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.project:hover .project__title,
.project:hover .project__category {
    -webkit-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
}

.project__detail {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    pointer-events: none;
    -webkit-transform: translateZ(30px);
    transform: translateZ(30px);
    border: 0 solid #ff5c5c;
    transition: border .4s ease;
}

.project__title {
    margin: 0 0 10px;
    font-size: 36px;
    font-weight: 700;
    transition: .4s ease;
    opacity: 0;
    -webkit-transform: translateY(40px) scale(0);
    -ms-transform: translateY(40px) scale(0);
    transform: translateY(40px) scale(0);
    will-change: transform;
}

.project__title {
    color: white;
    font-size: 30px;
}

.project__category {
    opacity: 0;
    transition: .4s ease;
    transition-delay: .1s;
    -webkit-transform: translateY(40px) scale(0);
    -ms-transform: translateY(40px) scale(0);
    transform: translateY(40px) scale(0);
    will-change: transform;
}

.project__category {
    color: white;
    font-size: 1.3em;
}

/*CSS Particulas*/

#particles-js {
    width: 100%;
    height: 190%;
    background-color: #9F2740;
    /*Color fondo*/
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#login input[type=button],
#signup input[type=button] {
    height: 35px;
    width: 130px;
    background-color: #ff5c5c;
    font-size: 16px;
    color: white;
    border: none;
    outline: none;
    margin-top: 30px;
    transition: all .5s;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

#login input[type=button]:hover,
#signup input[type=button]:hover {
    cursor: pointer;
    border: 1px solid #ff5c5c;
    color: #ff5c5c;
    background-color: white;
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
/*Yo*/
.Grupo{
    position: relative;
    margin-bottom: 32px;
}
.error{
    color: #D32F2F;
}
.label{
    position: absolute;
    top: 16px;
}
.Grupo input[type=text] .error, .Grupo input[type=password] .error,  .Grupo input[type=password].error{
    border-bottom: 2px solid #D32F2F;
}
.Grupo input[type=text], .Grupo input[type=password]{
    font-size: 16px;
    width: 100%;
    outline: none;
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid #BBDEFB;
}
.Grupo input[type=text]:focus, .Grupo input[type=password]:focus, .Grupo input[type=text]:hover, .Grupo input[type=password]:hover{
    outline: none;
    border-bottom: 2px solid #303F9F;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.Grupo input[type=text].error, .Grupo input[type=password].error{
    border-bottom: 2px solid #D32F2F;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.Grupo input[type=text].error + label, .Grupo input[type=password].error + label{
    color:  #D32F2F;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.Grupo input[type=text]:hover + label, .Grupo input[type=password]:hover + label, .Grupo input[type=text]:focus + label, .Grupo input[type=password]:focus + label{
    position: absolute;
    top: -8px;
    font-size: 12px;
}
.active{
    position: absolute;
    top: -8px;
    font-size: 12px;
}