<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GuardarUsuario</servlet-name>
        <servlet-class>Servlets.GuardarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HashMap</servlet-name>
        <servlet-class>Servlets.HashMap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir</servlet-name>
        <servlet-class>Servlets.Salir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarCambios</servlet-name>
        <servlet-class>Servlets.GuardarCambios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarPassword</servlet-name>
        <servlet-class>Servlets.GuardarPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarTareas</servlet-name>
        <servlet-class>Servlets.AgregarTareas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarTareas</servlet-name>
        <servlet-class>Servlets.ActualizarTareas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarTarea</servlet-name>
        <servlet-class>Servlets.EliminarTarea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaciarTareas</servlet-name>
        <servlet-class>Servlets.VaciarTareas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletarSesion</servlet-name>
        <servlet-class>Servlets.CompletarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vincular</servlet-name>
        <servlet-class>Servlets.Vincular</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Desvincular</servlet-name>
        <servlet-class>Servlets.Desvincular</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comentar</servlet-name>
        <servlet-class>Servlets.Comentar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesactivarComentario</servlet-name>
        <servlet-class>Servlets.DesactivarComentario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuardarUsuario</servlet-name>
        <url-pattern>/GuardarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HashMap</servlet-name>
        <url-pattern>/HashMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir</servlet-name>
        <url-pattern>/Salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarCambios</servlet-name>
        <url-pattern>/GuardarCambios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarPassword</servlet-name>
        <url-pattern>/GuardarPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarTareas</servlet-name>
        <url-pattern>/AgregarTareas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarTareas</servlet-name>
        <url-pattern>/ActualizarTareas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarTarea</servlet-name>
        <url-pattern>/EliminarTarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaciarTareas</servlet-name>
        <url-pattern>/VaciarTareas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletarSesion</servlet-name>
        <url-pattern>/CompletarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vincular</servlet-name>
        <url-pattern>/Vincular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Desvincular</servlet-name>
        <url-pattern>/Desvincular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comentar</servlet-name>
        <url-pattern>/Comentar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesactivarComentario</servlet-name>
        <url-pattern>/DesactivarComentario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
